@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /*font-family: theme("fontFamily.sans");
  font-family:"Zalando Sans Expanded", sans-serif;*/
}
body {
  @apply text-[15px] md:text-[16px];
  /*font-family: theme("fontFamily.sans");*/
}